<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="PseudoJ Editor"
            extensions="psj,java"
            icon="icons/sample.png"
            contributorClass="org.ide.pseudoj.editors.MultiPageEditorContributor"
            class="org.ide.pseudoj.editors.PseudoJMultiPageEditor"
            id="org.ide.pseudoj.editors.PseudoJMultiPageEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="PseudoJ Project"
            id="org.ide.pseudoj">
      </category>
      <wizard
            name="New PseudoJ File"
            icon="icons/sample.png"
            category="org.ide.pseudoj"
            class="org.ide.pseudoj.wizards.ProjectNewWizard"
            id="org.ide.pseudoj.wizards.ProjectNewWizard">
      </wizard>
   </extension>

</plugin>
